/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* ===================================
                About
   =================================== */

/*
    Theme Name: Corporate Executive One Page Parallax
    Theme URI:
    Author: Themes Industry
    Author URI:
    Description: One Page , Multi Parallax Template
    Tags: one page, multipurpose, parallax, creative, html5
 */

/* ===================================
          Table of Contents
   =================================== */

/*
01 body
02 Helper Classes
   02-1 Short Codes
   02-2 loader
03 Social Icons BG colors
04  Button Classes
06 Index Page
    06-1 Slider
    06-2 Services
    06-3 Banner Section
    06-4 Speaker Section
    06-5 Fatcs Counter banner
    06-6 Portfolio Section
    06-7 Pricing Section
    06-8 Testimonial Section
    06-9 Brand Section
    06-10 Contact Us Section
    06-11 Map Section
    06-12 Footer Section
08 Registeration
09 Blog
10 StandAlone
11 Media Queries
12 Mega Menu Is inside the Megamenu css
 */

/*Table Of Contents ends */


/*Global Styling*/

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800|Open+Sans:300,400,600,700');
html {
    scroll-behavior: smooth;
}

body {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

table,
tr,
td,
blockquote {
    color: #000000;
}

html {
    font-size: 16px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a,
a:hover,
a:focus {
    outline: none;
    text-decoration: none;
    color: inherit;
}

button:focus,
button:active,
input:focus,
input:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
.button,
.numbered .tp-bullet .tp-count {
    font-family: 'Poppins', sans-serif;
}

p{font-family: "Open Sans";opacity: .8;}

.green {background: #0076FF;}
.dark_gray {background: #969696;}
.black {background: #2b2b2b;}
.blue{background: #0500FF;}

.green-color {color: #0076FF;}
.dark_gray-color {color: #969696;}
.black-color {color: #2b2b2b;}
.blue-color{color: #0500FF;}
/*Center block*/

.center-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.hidden{display: none;}


/*===================================
        Loader Start
======================================*/

.loader1 {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1111111111111;
    overflow-x: hidden;
    background: #fff;
}

.loader-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0076FF;;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #08AAA5;;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0076FF;

    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*===================================
        Loader End
======================================*/

/*======================
 Start scroll-top-arrow
=======================*/
.scroll-top-arrow {
    height: 40px;
    width: 40px;
    position: fixed;
    z-index: 111;
    background-color: #0076FF;
    bottom: 10px;
    right: 20px;
    -webkit-animation: 1s slideInRight ease;
    animation: 1s slideInRight ease;
    display: none;
    -webkit-box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    -moz-box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
    box-shadow: 0 2px 10px -1px rgba(87, 97, 100, 0.35);
}

.scroll-top-arrow i{
    font-size: 20px;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
/*======================
END scroll-top-arrow
=======================*/


/*===================================
         Social Icons BG colors
======================================*/
.facebook-bg-hvr:hover{background:#4267B2 !important;color: #fff !important; border: 1px solid transparent !important;}
.twitter-bg-hvr:hover{background:#1DA1F2 !important;color: #fff !important; border: 1px solid transparent !important;}
.instagram-bg-hvr:hover{color: #FFFFFF;background: -o-linear-gradient(top, #aa2fb5 0%, #f1762c 93%)!important;background: -webkit-gradient(linear, left top, left bottom, from(#aa2fb5), color-stop(93%, #f1762c))!important;background: linear-gradient(to bottom, #aa2fb5 0%, #f1762c 93%)!important;-webkit-transition: all .5s ease;-o-transition: all .5s ease;transition: all .5s ease;}
.linkedin-bg-hvr:hover{background:#0077B5 !important;color: #fff !important; border: 1px solid transparent !important;}
.pinterest-bg-hvr:hover{background:#BD081C !important;color: #fff !important; border: 1px solid transparent !important;}
.google-bg-hvr:hover{background:#DB4437 !important;color: #fff !important; border: 1px solid transparent !important;}


/*===================================
         Button Classes
======================================*/

/*Standard Black Button*/

.btn{
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.white-and-green{font-size: 12px;font-family: 'Poppins', sans-serif;padding: 10px 25px;border:none;color: #000000;font-weight: 600;background-color: white;border-radius: .25rem;position: relative;z-index: 2;}
.white-and-green:after {position: absolute;top: 0;left: 0;content: '';width: 100%;height: 100%;opacity: 0;color: #FFFFFF !important;background-color: #0076FF;border:none;z-index: -1;}
.white-and-green:hover:after {opacity: 1;}
.btn.white-and-green:hover{color: #FFFFFF;border:none;}

.green-and-white{font-size: 12px;font-family: 'Poppins', sans-serif;padding: 10px 25px;border:none;color: #FFFFFF;font-weight: 600;background-color: #0076FF;border-radius: .25rem;position: relative;z-index: 2;}
.green-and-white:after {position: absolute;top: 0;left: 0;content: '';width: 100%;height: 100%;opacity: 0;color: #000000 !important;background-color: #FFFFFF;border:none;z-index: -1;}
.green-and-white:hover:after {opacity: 1;}
.btn.green-and-white:hover{color: rgba(0, 0, 0, 0.75);border:none;}

.green-and-blue{font-size: 12px;font-family: 'Poppins', sans-serif;padding: 10px 25px;border:none;color: #FFFFFF;font-weight: 600;background-color: #0076FF;border-radius: .25rem; -webkit-transition:.8s ease;-o-transition:.8s ease;transition:.8s ease;}
.green-and-blue:hover{color: #FFFFFF;background-color: #0500FF;border:none;}

.white-trans-btn-and-green{font-size: 12px;font-family: 'Poppins', sans-serif;padding: 10px 25px;border:1px solid #FFFFFF;color:#FFFFFF;font-weight: 600;background-color: transparent;border-radius: .25rem;position: relative;z-index: 2;}
.white-trans-btn-and-green:hover{color:#FFFFFF!important; ;background-color:#0076FF; border: 1px solid transparent}

.green-and-blue-slider{font-size: 12px;font-family: 'Poppins', sans-serif;padding: 10px 25px;border:1px solid transparent;color:#FFFFFF;font-weight: 600;background-color:#0076FF;border-radius:.25rem;-webkit-transition: .8s ease !important;-o-transition: .8s ease !important;transition: .8s ease !important;}
.green-and-blue-slider:hover{color:#FFFFFF!important; ;background-color:#0500FF; border: 1px solid transparent}

.white-and-blue-slider{font-size: 12px;font-family: 'Poppins', sans-serif;padding: 10px 25px;color:#000000;font-weight: 600;background-color:#ffffff;border:1px solid #ffffff;border-radius: .25rem;-webkit-transition: .8s ease !important;-o-transition: .8s ease !important;transition: .8s ease !important;}
.white-and-blue-slider:hover{color:#FFFFFF!important; ;background-color:#0500FF; border: 1px solid #0500FF }

.blue-and-white-slider{font-size: 12px;font-family: 'Poppins', sans-serif;padding: 10px 25px;color:#ffffff;font-weight: 600;background-color:#0500FF;border:1px solid #0500FF;border-radius: .25rem;-webkit-transition: .8s ease !important;-o-transition: .8s ease !important;transition: .8s ease !important;}
.blue-and-white-slider:hover{color: rgba(0, 0, 0, 0.76) !important; ;background-color:#ffffff; border: 1px solid #ffffff }



/*all other pages*/
.paralax-section-slide-data{
    min-height: 500px;
    position: relative;
}
.paralax-section-slide-data .overlay-banner{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.60);
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}
/*paralax banner for listing page*/
.paralax-section-slide-data1{
    min-height: 350px;
}

/*===================================
         Index Shop Page
======================================*/

/*Start SLIDER*/


.layer-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.50);
}

.slider .tparrows {
    background-color: transparent;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
}

.slider .tparrows:hover{
    background-color: rgba(130, 180, 65, 0.71);
    border-radius: .25rem;
}

.tparrows:before {
    font-size: 26px;
}
/*END SLIDER*/

/*HEADER START Nav*/

.social-icons-simple li{
    display: inline-block;
    padding: 15px 0px 15px 0px;
    color: #000000;
}

.social-icons-simple li a {
    height: 38px;
    width: 38px;
    border-radius: 30px;
    color: #FFFFFF;
    background: transparent;
    line-height: 38px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    border: 1px solid transparent;
}

.side-footer .social-icons-simple li a{
    color: #000000;
}


.manage-icons li{
    color: #FFFFFF;
    padding-left: 15px;
    -webkit-transition: .1s ease;
    -o-transition: .1s ease;
    transition: .1s ease;
}

.manage-icons li a{
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.manage-icons li a:hover .search-sidebar-hover{
    color: #0076FF;
}


.manage-icons li:hover a.nav-link{
    /*background: linear-gradient(to right, #FC2548 -50%, #f11fad 93%) ;*/
    /*-webkit-background-clip: text;*/
    /*-webkit-text-fill-color: transparent;*/
    color: #0076FF;
}

.manage-icons .dropdown-menu .dropdown-item {
    display: block;
}
.manage-icons li a{
    cursor: pointer;
}

.navbar{
    font-family: 'Poppins', sans-serif;
}

.header-area .nav-utility .manage-icons a{
    padding:5px 25px;
}

.header-area .nav-utility .manage-icons a:focus{
    color: #ffffff;
}



/*HEADER END*/


/*SERVICE START*/
.service-section{
    padding-top: 120px;
}

.service-section .service{
    border: none;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}

.service-section .heading .title {
    color: #0076FF;
    font-family: Poppins, "sans-serif";
    font-size: 20px;
    margin-bottom: 20px;
}

.service:hover .card-body h5{
    /*color: #0076FF;*/
}

.service-section .service i{
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}

.service:hover i{
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

.service-section .heading h3{
    margin-bottom: 20px;
    font-size: 40px;
    color: #2B2B2B;
    font-weight: 500;
}

.service-section .heading p{
    color: #000000;
    font-weight: 500;
    font-family: "Open Sans";
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    line-height: 2.1;
}

.service-section .service-card{
    margin-top: 50px;
}

.service-section .service i{
    font-size: 50px;
}


/*.service-section .service i:nth-child(even){*/
/*    color: #0076FF;*/
/*}*/



/*SERVICE END*/


/*START BANNER SECTION*/

.banner-section{
    background-image: url("../img/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    margin-top: 120px;
}

.paralax-data{
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.parallax-slide{
    position: relative;
}

.paralex-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-section {
    padding-top: 150px;
    padding-bottom: 150px;
}

.banner-section .banner-content p{
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 16px;
    opacity: 1;
}

.banner-section .banner-content h1{
    color: #FFFFFF;
    margin-bottom: 20px;
    font-size: 44px;
    font-weight: 500;
    font-family: Poppins, "sans-serif";
}

.banner-section .banner-content a{
    padding: 12px 50px;
    font-size: 15px;
}

.banner-section .banner-content a:focus{
    color: #ffffff;
}

/*END BANNER SECTION*/


/*START TEAM */
/* ===================================
           Speaker section css
====================================== */
.speaker-sec{
    padding-top: 120px;
    padding-bottom: 120px;
}
.speaker-sec .speakers-detail{
    margin-bottom: 50px;
}

.speaker-sec .speakers-detail .title{
    color: #0076FF;
    font-family: Poppins, "sans-serif";
    font-size: 20px;
    margin-bottom: 20px;
}

.speaker-sec .speakers-detail .sub-heading{
    color: #2b2b2b;
    font-family: 'Poppins', bold;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.speaker-sec .speakers-detail p {
    color: #000000;
    font-weight: 500;
    font-family: "Open Sans";
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    line-height: 2.1;
}


.speaker-sec .image-holder{
    height:300px;
    width:300px;
    background-color: #e1e1e1;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.speaker-sec .image-holder img{
    height: 100%;
    width: 100%;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.speaker-sec .speaker .speaker-info .image-holder .team-overlay{
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(130, 180, 65, 0.81);
    z-index: 11;
    display: block;
    opacity: 0;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.speaker-sec .speaker .speaker-info .image-holder .team-overlay.blue-color-effect{
    background-color: rgba(8, 170, 165, 0.81);
}



/*.speaker-sec .speaker .speaker-info:nth-child(even) .image-holder .team-overlay{*/
/*    background-color: rgba(8, 170, 165, 0.81);*/
/*}*/

.speaker-sec .speaker-info:hover .image-holder img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.speaker-sec .speaker-info:hover .image-holder .team-overlay{
    opacity: 1;
    left:10px;
    right: 10px;
    bottom: 10px;
    top: 10px;
    border: solid 3px #fff;
}
.speaker-sec .speaker-name{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #2b2b2b;
    margin-bottom: 0;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.speaker-sec .speaker-info:hover .speaker-name{
    color: rgb(130, 180, 65);
}
.speaker-sec .speaker-detail{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
    opacity: .7;
    margin-bottom: 0;
    font-style: italic;
}
.speaker-sec .speaker-links{
    position: relative;
}
.speaker-sec .speaker-links .slider-social{
    left: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
.speaker-sec .image-holder .team-overlay .speaker-links ul li a {
    -webkit-transform: translateY(-80px);
    -ms-transform: translateY(-50px);
    transform: translateY(-80px);
    opacity: 0;
}
.speaker-sec .image-holder .team-overlay .speaker-links ul li:first-child a {
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
}
.speaker-sec .image-holder .team-overlay .speaker-links ul li:nth-child(2) a {
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}
.speaker-sec .image-holder .team-overlay .speaker-links ul li:nth-child(3) a {
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
}
.speaker-sec .speaker-info:hover .image-holder .team-overlay .speaker-links ul li:first-child a {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
    opacity: 1;
}
.speaker-sec .speaker-info:hover .image-holder .team-overlay .speaker-links ul li:nth-child(2) a {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
    opacity: 1;
}
.speaker-sec .speaker-info:hover .image-holder .team-overlay .speaker-links ul li:nth-child(3) a {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition-delay: .4s;
    -o-transition-delay: .4s;
    transition-delay: .4s;
    opacity: 1;
}
.speaker-sec .speaker-info .image-holder .team-overlay .speaker-links:hover ul li a{
    -webkit-transition-delay: 0s !important;
    -o-transition-delay: 0s !important;
    transition-delay: 0s !important;
}
/*icon hovers*/

.speaker-links>ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.speaker-links>ul li {
    list-style: none;
    margin: 10px 5px;
}
.speaker-links>ul li:first-child {
    margin-left: 0;
}
.speaker-links>ul li:last-child {
    margin-right: 0;
}

.speaker-links>ul li a {
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 37px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.speaker-sec .image-holder .team-overlay .speaker-links>ul li a i {
    -webkit-transition: .5s ease;
    -o-transition: .5s ease;
    transition: .5s ease;
}
.speaker-sec .image-holder .team-overlay .speaker-links:hover  ul li:nth-child(3) a,.speaker-sec .image-holder .team-overlay .speaker-links:hover  ul li:nth-child(2) a{
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}
.speaker-sec .image-holder .team-overlay .speaker-links>ul li a:hover{
    background-color: rgba(255, 255, 255, 0.9);
}
.speaker-links>ul li a:hover i.fa-facebook-f {
    color: #3b5998;
}
.speaker-links>ul li a:hover i.fa-twitter {
    color: #00acee;
}
.speaker-links>ul li a:hover i.fa-linkedin-in {
    color: #0e76a8;
}
.speaker-links>ul li a:hover i.fa-instagram{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*END TEAM*/



/*  ------------ START COUNTERS   ------------ */
/*.counter-banner{*/
/*    margin-bottom: 100px;*/
/*}*/

#facts .counters-item{
    padding:26% 10%;
    font-weight:bold;
    vertical-align:middle;
    color:#fff;
    cursor:pointer;
    transition: .8s ease;
}
#facts .counters-item .card{
    background: transparent;
    border: none;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
}

#facts .counters-item:hover{
    background-color: #0500FF;
}

#facts .counters-item .card i{
    font-size: 40px;
    color: #FFFFFF;
}

#facts .counters-item .card h2{
    font-size: 40px;
    font-family: Poppins, "sans-serif";
    font-weight: normal;
    margin-bottom: 0;
    color: #FFFFFF;
}

#facts .counters-item .card p{
    font-size: 16px;
    font-family: Poppins, "sans-serif";
    font-weight: normal;
    color: #FFFFFF;
}


/*  ------------ END COUNTERS  ------------ */



/*START PORTFOLIO SECTION*/

.portfolio-section{
    padding-top: 120px;
}

.portfolio-section .title{
    color: #0076FF;
    font-family: Poppins, "sans-serif";
    font-size: 20px;
    margin-bottom: 20px;
}

.portfolio-section .sub-heading{
    color: #2b2b2b;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.portfolio-section .portfolio .filters{
    background-color: transparent;
    color:black;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid rgba(0, 0, 0, 0.11);
    padding:2px 20px;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.portfolio-section .portfolio .filters:first-child{
    border-bottom-left-radius: 6%;
    border-top-left-radius: 6%;
}
.portfolio-section .portfolio .filters:last-child{
    border-bottom-right-radius: 6%;
    border-top-right-radius: 6%;
}


.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active {
    background-color: #0500FF;
    color: #FFFFFF !important;

}

.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap {
    color: rgba(0, 0, 0, 0.8);
}

.cbp-caption-active .cbp-caption-activeWrap {
    top:5%;
    bottom: 5%;
    left:5%;
    right: 5%;
    width: 90%;
    height: 90%;
}

.cbp-l-filters-buttonCenter .cbp-filter-item.cbp-filter-item-active{
    color:#000000;
}

.cbp-l-grid-mosaic-flat .cbp-caption-activeWrap{
    background-color: rgba(130, 180, 65, 0.55);
    color: white;
    z-index: 11;
}

.cbp-l-caption-vertical-strip{
    height: 4px;
    width: 40px;
    background: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 6px;
}

.cbp-l-caption-vertical{
    color: #888989;
    -webkit-transform: rotate(-90deg) translateX(100px);
    -ms-transform: rotate(-90deg) translateX(100px);
    transform: rotate(-90deg) translateX(100px);
    /*opacity: 0;*/
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    position: absolute;
    top: 70px;
    left: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}


.cbp-caption-activeWrap .cbp-l-caption-vertical{
    color: #888989;
    -webkit-transform: rotate(-90deg) translateX(100px);
    -ms-transform: rotate(-90deg) translateX(100px);
    transform: rotate(-90deg) translateX(100px);
    /*opacity: 0;*/
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    position: absolute;
    top: 200px;
    left: -50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
    -webkit-animation-name: myani;
    animation-name: myani; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s;
    animation-duration: 4s;


}
@-webkit-keyframes myani {
    from{
        top:200px;
    }
    to{
        top:300px;
    }
}
@keyframes myani {
    from{
        top:200px;
    }
    to{
        top:300px;
    }
}



.portfolio-section .cbp-l-grid-mosaic-flat .cbp-l-caption-title {
    font-family: Poppins, "sans-serif";
    font-size: 22px;
    font-weight: 500;
    color: #ffffff;
    z-index: 12;
}


/*END PORTFOLIO SECTION*/


/***********************************/
/*******PRICING SECTION CSS*********/
/***********************************/

.pricing-sec{
    padding-top: 120px;
}

.pricing-sec .our-heading .heading-title{
    color: #0076FF;
    font-family: Poppins, "sans-serif";
    font-size: 20px;
    margin-bottom: 20px;
}

.pricing-sec .our-heading .heading-text{
    color: #2b2b2b;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.pricing-sec .pricing-cards{
    padding-top: 50px;
}

.pricing-sec .pricing-card{
    border-top: solid 6px #08aaa5;
    padding: 30px 20px;
    -webkit-box-shadow: 0 0 5px #d9d9d9;
    box-shadow: 0 0 5px #d9d9d9;
    border-radius: 5px;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .pricing-card .pricing-heading{
    font-family: Poppins, "sans-serif";
    font-size: 24px;
    font-weight: 500;
    color: #2b2b2b;
    padding-bottom: 20px;
    border-bottom: solid 2px #d9d9d9;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .pricing-card .price-info{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 2px #d9d9d9;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .pricing-card .price-info .price-tag .p-icon i{
    position: absolute;
    left: 0;
    bottom: 8px;
    font-size: 30px;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .pricing-card .price-info .price-tag .p-icon{
    display: inline-block;
    position: relative;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .pricing-card .price-info .price-tag .p-price{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    display: inline-block;
    margin-left: 28px;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .pricing-card .price-info .price-tag .p-since{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    position: relative;
    left: 42px;
    top: -7px;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .price-text .small-text{
    color: #878787;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.7;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .pricing-card .feature-list{
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .pricing-card .feature-list li{
    list-style: none;
    margin-bottom: 8px;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .pricing-card .feature-list li i{
    font-size: 20px;
    color: #969696;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .pricing-card .feature-list li a{
    color: #535353;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
.pricing-sec .pricing-card .pricing-btn{
    padding: 8px;
    background-color: #08aaa5;
    font-family: Poppins, "sans-serif";
    font-size: 14px;
    color: #FFFFFF;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}
/*hover*/
.pricing-sec .pricing-card:hover,.pricing-sec .pricing-card.active{
    border-top: solid 6px #0076FF;
}
.pricing-sec .pricing-card:hover .pricing-heading,.pricing-sec .pricing-card.active .pricing-heading{
    color: #0076FF;
    border-bottom: solid 2px #1420222e;
}

.pricing-sec .pricing-card:hover .price-info .price-tag .p-icon,.pricing-sec .pricing-card.active .price-info .price-tag .p-icon{
    color: #0076FF;
}
.pricing-sec .pricing-card:hover .price-info .price-tag .p-price,.pricing-sec .pricing-card.active .price-info .price-tag .p-price{
    color: #0076FF;
}
.pricing-sec .pricing-card:hover .price-info .price-tag .p-since,.pricing-sec .pricing-card.active .price-info .price-tag .p-since{
    color: #0076FF;
}

.pricing-sec .pricing-card:hover .feature-list li i,.pricing-sec .pricing-card.active .feature-list li i{
    color: #0076FF;
}
.pricing-sec .pricing-card:hover button,.pricing-sec .pricing-card.active button{
    background-color: #0076FF;
    color: #FFFFFF;
    border: solid 1px #0076FF;
}
.pricing-sec .pricing-card button:hover{
    background-color: #2b2b2b;
    border: solid 1px #2b2b2b;
    color: #FFFFFF;
}
/*END PRICIING SECTION*/



/* ===================================
       Testimonial css
====================================== */
.testimonial-sec{
    margin-bottom: 120px;
    margin-top: 120px;
    /*background-color: #969696;*/
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 300px;
    background: url("../img/testimonal.jpg");
    position: relative;
}
.testimonial-sec .overlay-test{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.60);
}


.testimonial-sec .testimonial-heading .sub-heading{
    color: #0076FF;
    font-family: Poppins, "sans-serif";
    font-size: 20px;
    margin-bottom: 20px;
}
.testimonial-sec .testimonial-heading .large-heading{
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.testimonial-sec .testimonial-card{
    padding-left: 60px;
    padding-right: 60px;
    overflow: hidden;
    cursor: pointer;
}

.testimonial-sec .testimonial-card .owl-nav{
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
    opacity: 0;
}
.testimonial-sec .testimonial-card:hover .owl-nav{
    opacity: 1;
}

.testimonial-sec .testimonial-review{
    padding-left: 60px;
    padding-right: 60px;
}
.testimonial-sec .testimonial-review .client-info{
    margin-bottom: 30px;
}
.testimonial-sec .testimonial-review .client-info .client-name{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 0;
    font-weight: bold;
    display: inline-block;
}
.testimonial-sec .testimonial-review .client-info .client-designation{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}


.testimonial-sec .testimonial-review .review-detail .text-des{
    color: #FFFFFF;
}
.testimonial-sec .testimonial-review .review-detail ul.test-review{
    padding-left: 0;
}
.testimonial-sec .testimonial-review .review-detail ul.test-review li{
    list-style: none;
    display: inline-block;
}
.testimonial-sec .testimonial-review .review-detail ul.test-review li i{
    font-size: 20px;
    color: yellow;
}

.testimonial-sec .owl-carousel .owl-nav button.owl-next,.testimonial-sec .owl-carousel .owl-nav button.owl-prev,.testimonial-sec .owl-carousel button.owl-dot {
    margin-bottom: 10px;
    display: block;
    font-size: 60px;
    position: absolute;
    top:15%;
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%);
    color: #0076FF;

}

.testimonial-sec .owl-next {
    position: absolute;
    right: 0;
}

.testimonial-sec .owl-prev{
    position: absolute;
    left: 0;
}

/*TESTIMONIAL SECTION END*/


/* ===================================
     brand  css
====================================== */
.brand-sec{

}
.brand-sec .brand-img img{
    width: 60%;
}

/* ===================================
     Start Blog Section
====================================== */

/*.blog-section{*/
/*    padding-bottom: 100px;*/
/*}*/

/* ===================================
    Blog Section End
====================================== */


/* ===================================
     brand  css
====================================== */



/******************MAP SECTION*******************/
#map{
    overflow: hidden !important;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}
.map{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/******************MAP SECTION*******************/

/*FOOTER CSS START*/



/*FOOTER CSS END*/


/***********************************/
/***********Footer SECTION**********/
/***********************************/

.footer-sec{
    padding-top: 80px;
    padding-bottom: 80px;
}
.footer-sec .social-icons i{
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
    cursor: pointer;
}
.footer-sec .social-icons i:last-child{
    margin-right: 0px;
}
.social-icons a{
    display: inline-block;
    text-decoration: none;
    color: #142022;
    margin-right: 10px;
}
.social-icons a i{
    display: block;
    height: 60px;
    width: 60px;
    font-size: 22px;
    color: #142022;
    line-height: 64px;
    text-align: center;
    border-radius: 40px;
    background: transparent;
    -webkit-transition: all .3s ease !important; -o-transition: all .3s ease !important; transition: all .3s ease !important;
}

.social-icons a i.fb-icon:hover, .social-icons  a i.fb-icon:focus {
    color: #ffffff;
    -webkit-box-shadow: 0 0 15px 30px #3D558F inset;
    box-shadow: 0 0 15px 30px #3D558F inset;
}
.social-icons a i.twit-icon:hover, .social-icons  a i.twit-icon:focus {
    color: #ffffff;
    -webkit-box-shadow: 0 0 15px 30px #33c9dd inset;
    box-shadow: 0 0 15px 30px #33c9dd inset;
}
.social-icons a i.g-icon:hover, .social-icons  a i.g-icon:focus {
    color: #ffffff;
    -webkit-box-shadow: 0 0 15px 30px #D74937 inset;
    box-shadow: 0 0 15px 30px #D74937 inset;
}
.social-icons a i.link-icon:hover, .social-icons  a i.link-icon:focus {
    color: #ffffff;
    -webkit-box-shadow: 0 0 15px 30px #0474BC inset;
    box-shadow: 0 0 15px 30px #0474BC inset;
}

.social-icons a i.insta-icon:hover, .social-icons  a i.insta-icon:focus {
    color: #ffffff;
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-animation: 1s instaRound;
    animation: 1s instaRound;
}
@-webkit-keyframes instaRound {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes instaRound {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.social-icons a i.gmail-icon:hover, .social-icons  a i.gmail-icon:focus {
    color: #ffffff;
    -webkit-box-shadow: 0 0 15px 30px #D45049 inset;
    box-shadow: 0 0 15px 30px #D45049 inset;
}
.social-icons a i:hover {
    color: #ffffff;
    border-radius: 40px;
}

@-webkit-keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}
@keyframes ripple{
    0%{
        opacity:1;
        -webkit-transform:scale(0);
        transform:scale(0)
    }
    100%{
        opacity:0;
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}

.footer-sec .rites{
    margin-top: 15px;
}




/*Registeration*/

.about_content{
    margin-top: 120px;
}

.about_content h1{
    color: #000000;
}
.about_content p{
    font-family:  "Open Sans";
    font-size: 16px;
}

.whitebox{
    margin-top: 50px;
}

.whitebox .widget {
    padding: 40px 40px;
    background: #fff;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.logincontainer .form-control {
    background: transparent;
}

.logincontainer h3{
    font-family: Poppins, sans-serif;
    font-weight: 600;
    color: #000000;
}
.getin_form input.form-control {
    border: 1px solid #ececec;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 41px;
    color: #b6b8ba;
    font-size: 0.875rem;
}

.bottom35{
    margin-bottom: 30px;
}
.getin_form .form-control::-webkit-input-placeholder{
    color: #b6b8ba;
}
.getin_form .form-control::-moz-placeholder{
    color: #b6b8ba;
}
.getin_form .form-control:-ms-input-placeholder{
    color: #b6b8ba;
}
.getin_form .form-control::-ms-input-placeholder{
    color: #b6b8ba;
}
.getin_form .form-control::placeholder{
    color: #b6b8ba;
}
.form-check {
    display: block;
    font-size: 13px;
    padding-left: 0;
}

.form-group label,
.checkbox label {
    font-size: 12px;
    font-weight: 500;
    min-height: 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.register-btn {
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.getin_form  p{
    margin-top: 20px;
    margin-bottom: 16px;
    font-family:"Poppins", sans-serif;
    font-weight: 400;
}
.getin_form  p a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.SignInclass a{
    color: #0076FF;
}
.registeration-detail{

}
.registeration-detail .heading-area{
    padding: 40px 40px !important;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
}
.registeration-detail .sub-title{
    font-family: Poppins, "sans-serif";
    font-size: 14px;
    font-weight: normal;
    color: #0076FF;
    margin-bottom: 20px;
}
.registeration-detail  .title{
    font-family: Poppins, "sans-serif";
    font-size: 28px;
    font-weight: 600;
    color: #000000;
    margin-bottom: 35px;
}
.registeration-detail  .paragraph{
    font-family: Poppins, "sans-serif";
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 35px;
    line-height: 2;
    width: 80%;
    color: #000000;
}
.registeration-detail  .about-list{
    margin: 0;
    padding: 0;
}
.registeration-detail  .about-list li{
    margin-bottom: 25px;
}

.registeration-detail  .about-list li i{
    color: #0076FF;
    font-size: 17px;
}
.registeration-detail  .about-list li span{
    display: inline-block;
    font-size: 16px;
    font-family: Poppins, "sans-serif";
    font-weight: normal;
    color: #000000;
}


/**********************************/
/* START BLOG PAGES */
/***********************************/


.blog-body{
    position: relative;
    padding: 7.5rem 0 0 0;
    overflow: hidden;
}
.blog-container{
    border-bottom: solid 1px #e1e1e1;
    padding-bottom: 100px;
}
.blog-search{
    padding: 40px 48px;
    background-color: #f8f9fa;
    margin-bottom: 30px;
}


.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 20px;
    margin-top: 10px;

}

input[type=text]:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
    cursor: pointer !important;
}

.blog-search .has-search:hover .form-control-feedback {
    color: green;
}

.blog-topic{
    padding: 40px 48px;
    background-color: rgba(225, 225, 225, 0.24);
    margin-bottom: 30px;
}

.blog-topic h5{
    font-size: 22px;
    font-weight: 500;
    font-family: Poppins, "sans-serif";
    color: black;
}

.blog-body .blog-topic ul{
    padding-left: 0px;
    margin-bottom: 0px;
}
.blog-body .blog-topic ul li{
    list-style: none;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 10px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.blog-body .blog-topic ul li:last-child{
    margin-bottom: 0px;
}


.blog-body .blog-topic ul li a{
    font-family: "Open Sans", sans-serif;
    font-weight:500;
    color: #000000;
    opacity: .8;
    text-decoration: none;
    display: inline-block;
    padding-right: 8px;
}
.blog-body .blog-topic ul li .dots{
    overflow-wrap: break-word;
    white-space: nowrap;
}
.blog-body .blog-topic ul li p{
    font-family: "Open Sans", sans-serif;
    font-weight:500;
    display: inline-block;
    float: right;
    background-color: #F8F8F8;
    padding-left: 7px;
}

.blog-body .blog-topic ul li:last-child p{
    margin-bottom: 0px;
}
.blog-body .blog-topic ul li .dots:before{
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
    white-space: nowrap;
    height: 2px;
    opacity: 1;
    z-index: -99999;
    line-height: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 1px;
}

.blog-post{
    padding: 40px 48px;
    background-color: rgba(225, 225, 225, 0.24);
    margin-bottom: 30px;
}

.blog-post h5{
    font-size: 22px;
    font-weight: 500;
    font-family: Poppins, "sans-serif";
    color: black;
}


.blog-post .media{
    margin-bottom: 10px;
}

.blog-post .media img{
    border-radius: 20px;
    width: 90px;
    height: 90px;
}

.blog-post .media:last-child{
    margin-bottom: 0;
}

.blog-post .media .media-body h5{
    font-family: Poppins, "sans-serif";
    color: black;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 5px;
    display: block;

}

.blog-post .media .media-body p{
    font-family: Poppins, "sans-serif";
    font-size: 12px;
    color: #0076FF;
    font-weight: 500;
}

.blog-post .media .media-body p .date{
    color: #000000;
    opacity: .8;
    font-weight: normal;
    font-style: italic;
}

.blog-post .media .media-body p a{
    color: #000000;
    opacity: .8;
    text-decoration: none;
}

.blog-post .media .media-body p .author{
    color: #000000;
    opacity: .8;
    font-weight: normal;
}


.blog-tags-sec{
    padding: 40px 48px;
    background-color: rgba(225, 225, 225, 0.24);
    margin-bottom: 30px;
}

.blog-tags-sec h5{
    font-size: 22px;
    font-weight: 500;
    font-family: Poppins, "sans-serif";
    color: black;
}

.blog-tags li{
    display: inline-block;
    margin-bottom: 10px;
}
.blog-tags li a{
    padding: 6px 15px;
    border:1px solid #838383;
    font-size: 13px;
    color: #838383;
    border-radius: 50px;
    text-decoration: none;
}

.blog-tags li a:hover,.blog-tags li a:focus{
    border:1px solid #0076FF;
    background-color: #0076FF;
    color: #FFFFFF;
}

.blog-archives{
    padding: 40px 48px;
    background-color: rgba(225, 225, 225, 0.24);
    margin-bottom: 30px;
}

.blog-archives h5{
    font-size: 22px;
    font-weight: 500;
    font-family: Poppins, "sans-serif";
    color: black;
}

.blog-body .blog-archives ul{
    padding-left: 0px;
    margin-bottom: 0px;
}
.blog-body .blog-archives ul li{
    list-style: none;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 10px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.blog-body .blog-archives ul li:last-child{
    margin-bottom: 0px;
}
.blog-body .blog-archives ul li a{
    font-family: "Open Sans", sans-serif;
    font-weight:500;
    color: #000000;
    opacity: .8;
    text-decoration: none;
    display: inline-block;
    padding-right: 8px;
}
.blog-body .blog-archives ul li .dots{
    overflow-wrap: break-word;
    white-space: nowrap;
}
.blog-body .blog-archives ul li p{
    font-family: "Open Sans", sans-serif;
    font-weight:500;
    display: inline-block;
    float: right;
    background-color: #F8F8F8;
    padding-left: 7px;
    color: #000000;
    opacity: .8;
}

.blog-body .blog-archives ul li:last-child p{
    margin-bottom: 0px;
}

.blog-body .blog-archives ul li .dots:before{
    content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
    white-space: nowrap;
    height: 2px;
    opacity: 1;
    z-index: -99999;
    line-height: 1;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 1px;
}


.blog-advertise{

    margin-bottom: 30px;
}

.blog-advertise img {
    width: 100%;
}
.blog-body article .post-thumbnail{
    margin-bottom: 25px;
    position: relative;
}

/*Post plus Article*/

.blog-body .blog-classic:first-child {
    padding-top: 0;
}

.blog-classic {
    padding: 4rem 0;
    border-bottom: 1px solid #efefef;
}

.blog-body article .post-thumbnail img{
    width: 100%;
}

.minimal-post {
    margin-bottom: 25px;
}
.minimal-post  img{
    width: 100%;
}



.blog-body article  .post-title {
    font-size: 1.4rem;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 5px;

}
.blog-body article  .post-title-minimal {
    margin: 0 0 25px;
    font-size: 1.4rem;
    line-height: 1.3;

}
.blog-body article  .post-title a{
    text-decoration: none;
    color: #232323;
    font-family: Poppins, "sans-serif";
    font-weight: 500;
}

.blog-body article  .post-title-minimal a{
    text-decoration: none;
    color: #232323;
    font-family: Poppins, "sans-serif";
    font-weight: 500;
}

.blog-body article .points ul{
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.blog-body article .points ul li{
    color: #000000;
    opacity: .8;
    font-family: Poppins, "sans-serif";
    font-weight: 500;
}

.blog-body .quotation{
    border-left: 3px solid #00F3AE;
    padding: 15px 15px 15px 35px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.blog-body .quotation p{
    text-decoration: none;
    color: #000000;
    opacity: .8;
    font-family: Poppins, "sans-serif";
    font-size: 18px;
    line-height: 1.8;
}

.cube-sec img {
    width: 100%;
}

.footer-meta {
    padding-top: 3.5rem;
    margin-bottom: 3.5rem;
    position: relative;
    display: block;
    clear: both;
}
.post-tags a {
    background-color: #f7f8fa;
    display: inline-block;
    padding: 6px 17px;
    margin: 0 5px 5px 0;
    color: #2b2b2b;
    text-decoration: none;
    font-weight: 500;
    font-size: 11px;
    text-transform: capitalize;
}

.footer-meta .post-social {
    text-align: right;
}

.blog-minimal {
    border-bottom: 1px solid #efefef;
}

.footer-meta .social-tags span{
    display: inline-block !important;
    height: 35px;
    width: 35px;
    color:white;
    position: relative;
    -webkit-transition: .9s ease;
    -o-transition: .9s ease;
    transition: .9s ease;
    cursor: pointer;
}
.footer-meta .social-tags span:hover{
    border-radius: 50%;
}
.footer-meta .social-tags span i{
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    left: 30%;
    top: 25%;
    font-size: 16px;
}
.footer-meta .social-tags .fb{
    background-color:#3b5998;

}
.footer-meta .social-tags .twit{
    background-color:#55acee;

}
.footer-meta .social-tags .in{
    background-color:#0077b5;

}
.footer-meta .social-tags .pin{
    background-color:#B7242a;

}


.post-navigation{
    padding-top: 64px;
    padding-bottom: 64px;

}

.post-navigation .media{

    -webkit-transition: 1s ease;

    -o-transition: 1s ease;

    transition: 1s ease;
}

.post-navigation  a{
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    height: 40px;
    width: 40px;
    cursor: pointer;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}

.post-navigation  a i{
    margin-top: 10px;
    color: black;
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}

.post-navigation .media-body{
    padding-left: 25px;
}

.post-navigation .media-body h6{
    font-size: 14px;
    font-family: Poppins, "sans-serif";
    font-weight: 500;
    color: #000000;
    opacity: .8;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}

.post-navigation .media-body p{
    font-size: 18px;
    font-family: Poppins, "sans-serif";
    color: black;
    width: 40%;
    -webkit-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
}

.post-navigation .media:hover .media-body p,.post-navigation .media:hover .media-body h6{
    margin-left: -10px;
}

.post-navigation .media:hover a {
    background-color: black;
}
.post-navigation .media:hover a i {
    color: white;
}

.post-posted{
    padding: 50px;
    background-color: #F8F9FA;
}

.post-posted .media a img{
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
}

.post-posted .media .media-body h6{
    font-size: 14px;
    font-family: Poppins, "sans-serif";
    font-weight: 500;
    color: #000000;
    opacity: .8;
}

.post-posted .media .media-body span{
    font-size: 20px;
    font-family: Poppins, "sans-serif";
    font-weight: 500;
    color: black;
    display: inline-block;
    margin-bottom:5px;


}

.comment-form .form-control{
    border-radius: 5px;
    font-weight: 300;
}

.comment-form .form-control:focus{
    border-color:#ced4da;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.comment-form textarea{
    margin-bottom: 1.2rem;
    resize: none;
}


.blog-write h4{
    margin-top: 35px;
    margin-bottom: 35px;
}

.blog-body article  .post-details.alt-font {
    font-size: 11px;
    line-height: 2;
    color: #939393;
    text-transform: uppercase;
    margin-bottom: .8rem;
    font-weight: 500;
    font-family: Poppins, "sans-serif";
}

.post-separator {
    margin: 0 10px;
}

.post-separator:nth-last-child(1) {
    display: none;
}

.blog-body article .post-details .post-author a{
    text-decoration: none;
    color: #939393;
    font-weight: bold;
}

.blog-body article .post-details .post-categories .cat-links a{
    text-decoration: none;
    color: #939393;
    font-weight: bold;
}
.blog-body article .post-content{
    margin: 0 0 25px;
}

.blog-body article .post-content p{
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    color: #000000;
    opacity: .8;
    line-height: 1.8;
}

.post-content a:active {
    background-color: #00F3AE !important;
}

.blog-body article .post-content .btn-rounded {
    border-radius: 50px;
}

.blog-body article .post-content .btn-large {
    font-size: 14px;
    padding: 8px 30px;
    line-height: 25px;
}

.blog-body article .post-content .btn-primary:hover {
    background-position: right center;
    color: #fff;
}

.blog-body article .post-content a{
    font-weight: bold;
}
.blog-body article .post-content a:focus{
    color: #ffffff;
}

.gallery-projects {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 2rem;
}

.gallery-projects img {
    max-width: 100%;
    height: auto;
}

.gallery-projects .img-hover {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    display: block;
    height: 100%;
    vertical-align: middle;
    opacity: 0;
    visibility: hidden;
    background: rgba(0,0,0,.3);
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.gallery-projects li {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.gallery-projects .img-hover i {
    color: #fff;
    font-size: 20px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.gallery-projects li>a:hover .img-hover {
    opacity: 1;
    visibility: visible;
}

a {
    color: #3264f5;
    text-decoration: none;
    background-color: transparent;
}

.blog-post-navigation {
    padding-top: 4rem;
}

.blog-post-navigation .page-link.current {
    z-index: 1;
    color: #FFFFFF;
    background-color: #0076FF;
    border-color: #0076FF;
}


.blog-post-navigation .page-link {
    position: relative;
    display: block;
    padding: 0.7rem 1.1rem;
    color: #2b2b2b;
    text-decoration: none;
    font-weight: lighter;
}

.blog-post-navigation a {
    text-decoration: underline;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.page-link:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(0,123,255,0) !important;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0) !important;
}

.post-thumbnail #carouselExampleControls{
    cursor: pointer;
}

.post-thumbnail #carouselExampleControls .carousel-control-prev-icon , .post-thumbnail #carouselExampleControls .carousel-control-next-icon {
    opacity: 0;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
    cursor: pointer;
}
.post-thumbnail #carouselExampleControls:hover .carousel-control-prev-icon {
    opacity: 1;

}

.post-thumbnail #carouselExampleControls:hover .carousel-control-next-icon {
    opacity: 1;

}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #000000;
}


/*hover on images*/

.hover-effect::before,
.hover-effect::after {
    content: "";
    background: #fff;
    height: 0;
    width: 0;
    z-index: 1;
    position: absolute;
    -webkit-transition-duration: 1.3s;
    -o-transition-duration: 1.3s;
    transition-duration: 1.3s;
}
.hover-effect::before {
    right: 0;
    opacity: 1;
    top: 0;
}
.hover-effect::after {
    bottom: 0;
    opacity: .7;
    left: 0;
}
.hover-effect:hover::after, .hover-effect:hover::before {
    height: 100%;
    opacity: 0;
    width: 100%;
}
/*-- hover on img ends --*/


/**********************************/
/* END BLOG PAGES */
/***********************************/







/***********************************/
/*********Contact section***********/
/***********************************/

.map-load #map {
    height: 400px !important;
}

.contact-sec{
    padding-top: 120px;
    padding-bottom: 120px;
}

.contact-sec.manage-margin{
    padding-bottom: 40px;
}

.contact-sec .contact-description{
    padding: 20px;
}
.contact-sec .contact-detail .ex-detail{
    margin-bottom: 15px;
}
.contact-sec .contact-detail .ex-detail .fly-text{
    color: #0076FF;
    left: -49px;
    font-size: 14px;
    font-family: Poppins, "sans-serif";
    margin-bottom: 8px;
}
.contact-sec .contact-detail .small-text{
    margin-bottom: 40px;
    width: 95%;
}

.contact-sec .contact-detail .location-details h4{
    margin-bottom: 20px;
    color: #142022;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.contact-sec .contact-detail .location-details ul{
    padding-left: 0;
}
.contact-sec .contact-detail .location-details ul li{
    list-style: none;
    margin-bottom: 15px;
    position: relative;
}
.contact-sec .contact-detail .location-details ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #535353;
    text-decoration: none;
    margin-left: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.contact-sec .contact-detail .location-details ul li i{
    font-size: 20px;
    margin-right: 5px;
    color: #535353;
    position: absolute;
    top: 2px;
    left: 0;
}
/*contact us form*/
.contact-sec .contact-box{
    padding: 20px;
    -webkit-box-shadow: 1px 1px 8px #dddddd;
    box-shadow: 1px 1px 8px #dddddd;
    /*border:solid .5px #dddddd;*/
    border-radius: 10px;
}
.contact-sec .contact-box .small-heading{
    font-size: 24px;
    font-family: Poppins, "sans-serif";
    font-weight: 500;
    margin-bottom: 20px;
}
.contact-sec .contact-box .small-text{
    font-family: Poppins, "sans-serif";
    margin-bottom: 25px;
}
.contact-sec .contact-form .my-form{
    position: relative;
}
.contact-sec .contact-form .my-form .form-control{
    border: 1px solid #cbcbcb;
}
.contact-sec .contact-form .my-form input{
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}
.contact-sec .contact-form .my-form input[placeholder]{
    color: #000000;
    opacity: .8;
    font-size: 14px;
}
.contact-sec .contact-form .my-form textarea{
    border-radius: 10px;
    padding: 20px;
}
.contact-sec .contact-form .my-form textarea[placeholder]{
    color: #000000;
    opacity: .8;
    font-size: 14px;
}
.display-error{
    position: absolute;
    top:-45px;
    left:15px;
    right: 15px;
}

.contact-page .contact-list li:nth-child(2),.contact-page .contact-list li:nth-child(3){
    display: inline-block;
}
.contact-page .contact-list li:nth-child(2){
    margin-right: 8px;
}
.contact-page .contact-list li:nth-child(even){
    margin-bottom: 0px !important;
}





/*******************/
/*START STAND ALONE */
/*****************/

.standalone-row:not(:last-child) {
    margin-bottom: 3rem;
}

.about_content .standalone-detail .heading{
    margin-bottom: 20px;
    font-size: 40px;
    color: #2B2B2B;
    font-weight: 500;
}

.about_content .standalone-detail p {
    color: #000000;
    font-weight: 500;
    font-family: "Open Sans";
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    line-height: 2.1;
}

.about_content .standalone-detail{
    padding-top: 100px;
    padding-bottom: 100px;
}


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /*SERVICES HEADING PARAGRAPH SECTION SPACING MANAGE*/
    .service-section .heading p {
        width: 100% !important;
    }
    /*Speaker HEADING PARAGRAPH SECTION SPACING MANAGE*/
    .speaker-sec .speakers-detail p {
        width: 100% !important;
    }

    /*Pricing Months Adjust*/
    .pricing-sec .pricing-card .price-info .price-tag .p-since {
        left: 5px;
    }
    /*Adjust Pricing para*/
    .pricing-sec .price-text .small-text {
        margin-top: 5px;
    }
    /*Review Paragraph remove padding*/
    .testimonial-sec .testimonial-review {
        padding-left: 0;
        padding-right: 0;
    }
    /*Banner heading small size*/
    .banner-section .banner-content h1 {
        font-size: 32px;
    }
    /*Footer Social Icons adjust*/
    .social-icons a i {
        height: 40px;
        width: 40px;
        line-height: 45px;
    }

    /*Blog Pagniation*/
    .blog-post-navigation {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    /*Testimonial*/
    .testimonial-sec .testimonial-card {
        padding-right: 30px;
        padding-left: 30px;
    }

    /*mobile screen media query for contact sec*/
    .contact-sec .contact-detail .ex-detail .fly-text {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        top: -25px;
    }
    .contact-sec .contact-detail .ex-detail {
        margin-bottom: 20px;
    }
    .contact-sec .contact-detail .addr-list{
        margin-top: 50px;
    }
    .contact-sec .contact-detail .small-text {
        margin-bottom: 30px;
    }
    .contact-sec .contact-detail .location-details ul li i {
        position: relative;
    }
    .contact-sec .contact-detail .location-details ul li a {
        display: block;
        margin-left: auto;
    }
    .contact-sec .contact-box {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-top: 40px;

    }

    .contact-sec .contact-box .contact-form .user-contact{
        width: 100%;
    }

    .mini-cart-header h4 {
        font-family: Poppins, "sans-serif";
        font-weight: normal;
        color: #000;
        font-size: 18px;
    }

    .sideNavPages.shopping-cart{
        left: -21px;
        width:140% ;
        margin-top: 20px;
    }

    .mini-cart-footer .actions .btn{
        margin-bottom: 10px;
        border-radius: 0%;
        padding: 8px 12px 8px 12px;
        font-size: 10px;
    }

    .shopping-cart .mini-cart-body  .media-body h5{
        font-size: 12px;
    }
    .shopping-cart .mini-cart-body .media-body p{
        font-size: 10px;
    }
    .shopping-cart .mini-cart-body .media-body p span{
        font-weight: 600;
    }


    .fixednavbar .sideNavPages.shopping-cart{
        left: -35px;
    }

    .fixednavbar .sideNavPages.shopping-cart {
        width: 150%;
    }

    .user-utiliity{
        left: 80px;
        margin-top: 22px;
    }

    .fixednavbar .user-utiliity{
        left: 78px;
        width: 90%;
    }

    .lastest_arrivals .owl-dots{
        position: relative;
        left: 0;
        top: 0;
        right: 0;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .portfolio-section .cbp-l-filters-button .cbp-filter-item {

        margin: 0 0px 10px 0px;
        padding: 0 11px;
        font-size: 10px;

    }

    .portfolio-title{
        text-align: center;
    }

    .portfolio-des{
        text-align: center;
    }


    .lastest_arrivals .lastest_arrival_items .card .card-body h5{
        text-align: center;
    }
    .lastest_arrivals .lastest_arrival_items .card .card-body p{
        text-align: center;
    }


    .sidemenu_btn span{
        background-color: white;
    }

    .header-area.fixednavbar .sidemenu_btn span{
        background-color: black;
    }

    .nav-icon{
        display: none;
    }

    /*Registeration*/

    .registeration-detail .heading-area {
        padding: 10px 40px !important;
    }

    .about_content h1 {
        font-size: 28px;
    }

    .about_content p {
        font-size: 14px;
    }

    .whitebox .widget {
        padding: 40px 30px;
    }

    .logincontainer h3 {
        font-size: 14px;
    }

    .custom-checkbox label{
        font-size: 10px;
    }

    .register-btn button{
        margin-left: auto;
        margin-right: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .getin_form p {
        font-size: 10px;
        text-align: center;
    }

    .registeration-detail .sub-title{
        font-size: 12px;
    }
    .registeration-detail  .title{
        font-size: 24px;
        margin-bottom: 20px;
    }

    .registeration-detail  .paragraph{
        font-size: 12px;
        width: 100%;
        margin-bottom: 20px;
    }

    .registeration-detail  .about-list li{
        margin-bottom: 8px;
    }

    .registeration-detail  .about-list li i{
        font-size: 11px;
    }

    .registeration-detail  .about-list li span{
        font-size: 12px;
        display: inline;
    }

    .shop-cart .card-total {
        margin-top: 30px;
    }

    .product-listing-products .product-list .product-item .p-item-img .listing-cart-icon{
        width: 55px;
        height: 55px;
        top: 48%;
    }

    .standalone-row h2 {
        margin-top: 3rem;
    }

    .contact-sec .contact-detail .location-details .country-1{
        margin-bottom: 20px;
    }

    .about_content .register-account{
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }

    .manage-icons ul li a i{
        font-size: 12px;
    }


    /*Toggle Button Side Menu*/
    .sidemenu_btn>span:nth-child(2) {
        margin: 3px 0 3px auto;
        width: 75%;
        -webkit-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all;
    }


}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767px) {


    /*Pricing Months Adjust*/
    .pricing-sec .pricing-card .price-info .price-tag .p-since {
        left: 5px;
    }
    /*Adjust Pricing para*/
    .pricing-sec .price-text .small-text {
        margin-top: 5px;
    }

    /*Counter items manage font*/
    #facts .counters-item .card p {
        padding: 0;
    }

    /*contact From button resize*/
    .contact-sec .contact-box .contact-form .user-contact{
        width: 100%;
    }

    .nav-icon{
        display: none;
    }

    .sidemenu_btn span{
        background-color: #FFFFFF;
    }

    .shopping-cart .mini-cart-body  .media-body h5{
        font-size: 12px;
    }
    .shopping-cart .mini-cart-body .media-body p{
        font-size: 10px;
    }

    .sideNavPages.shopping-cart {
        left: 18px;
        width: 100%;
        margin-top: 20px;
    }

    .sideNavPages i.mini-cart-caret {
        left: 64%;
    }

    .fixednavbar  .sideNavPages.shopping-cart {
        left: 10px;
        width: 100%;
    }
    .fixednavbar  i.mini-cart-caret {
        left: 68%;
    }


    .user-utiliity {
        left: 146px;
        width: 70%;
        margin-top: 22px;
    }

    .sideNavPages i.user-utiliity-caret {
        left:43%;
    }

    .fixednavbar .user-utiliity {
        left: 146px;
        width: 70%;
        margin-top: 22px;
    }

    .fixednavbar .sideNavPages i.user-utiliity-caret {
        left:43%;
    }

    .shop-cart .card-total {
        margin-top: 30px;
    }


    .standalone-row h2 {
        margin-top: 3rem;
    }


    .contact-sec .contact-detail .location-details .country-1{
        margin-bottom: 20px;
    }

    .about_content .register-account{
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 50px;
    }


    .manage-icons ul li a i{
        font-size: 14px;
    }

    /*mobile screen media query for contact sec*/
    .contact-sec .contact-detail .ex-detail .fly-text {
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%) !important;
        -ms-transform: translateX(-50%) !important;
        transform: translateX(-50%) !important;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        top: -25px;
    }
    .contact-sec .contact-detail .ex-detail {
        margin-bottom: 40px;
    }
    .contact-sec .contact-detail .addr-list{
        margin-top: 50px;
    }
    .contact-sec .contact-detail .small-text {
        margin-bottom: 30px;
    }
    .contact-sec .contact-detail .location-details ul li i {
        position: relative;
    }
    .contact-sec .contact-detail .location-details ul li a {
        display: block;
        margin-left: auto;
    }
    .contact-sec .contact-box {
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-top: 10px;

    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    /*Pricing Months Adjust*/
    .pricing-sec .pricing-card .price-info .price-tag .p-since {
        left: 5px;
    }
    /*Adjust Pricing para*/
    .pricing-sec .price-text .small-text {
        margin-top: 5px;
    }
    /*Counter items manage font*/
    #facts .counters-item .card p {
        font-size: 11px;
    }

    .sidemenu_btn{
        display: none;
    }

    .flexable-megamenu{
        max-height: 500px;
        overflow-y: scroll;
    }

    .shopping-cart .mini-cart-body  .media-body h5{
        font-size: 14px;
    }
    .shopping-cart .mini-cart-body .media-body p{
        font-size: 12px;
    }

    .sideNavPages.shopping-cart {
        left: -70px;
        width: 150%;
        margin-top: 20px;
    }

    .sideNavPages i.mini-cart-caret {
        left: 64%;
    }

    .fixednavbar  .sideNavPages.shopping-cart {
        left: -160px;
        width: 200%;
    }
    .fixednavbar  i.mini-cart-caret {
        left: 73%;
    }

    .user-utiliity{
        left: 45px;
        margin-top: 22px;
    }

    .sideNavPages i.user-utiliity-caret {
        left: 64.5%;
    }

    .fixednavbar .user-utiliity{
        left: 43px;
        width: 85%;
    }

    .fixednavbar .sideNavPages i.user-utiliity-caret {
        left: 63%;
    }

    .shop-cart .card-total {
        margin-top: 30px;
    }

    .product-listing-products .product-list .product-item .p-item-img .listing-cart-icon{
        width: 50px;
        height: 50px;
    }

    .standalone-row h2 {
        margin-top: 3rem;
    }

    .about_content .register-account{
        margin-left: 50px;
        margin-right: 50px;
    }


}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

    .pricing-sec .price-text .small-text{
        margin-left: 15px;
        margin-top: 10px;
    }

    .pricing-sec .pricing-card .price-info .price-tag .p-icon i {
        top: 0;
    }

    /*register account margin left*/
    .about_content .register-account{
        margin-left: 50px;
    }


}


/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

    /*register account margin left*/
    .about_content .register-account{
        margin-left: 50px;
    }

}


@media (min-width: 1367px) {

}

@media (min-width: 1800px) {

}